@model RegistrationMVCCore.Model.PatientDetailsViewModel

@ViewBag.id
<div class="w3-card-4" style="width:850px;background-color:#FFFFFF; height:400px; margin-left:100px; margin-top:10px">
    <header class="w3-container w3-blue">
        <h4>Add a new task &nbsp;<i class="glyphicon glyphicon-paperclip"></i></h4>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="w3-container" style="margin:20px; height:325px;width:600px; float:left;">
            <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:10px; width:500px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmTaskTable.TaskID, ViewBag.taskList as SelectList, "--Task Type--", new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding:5px 0 ; margin-bottom:20px; margin-top:10px; width:500px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmPatientTable.OccID, ViewBag.OTList as SelectList, "--OT Name--", new { @class = "form-control" })
            </div>
            <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:20px;width:500px">
                <input asp-for="@Model.vmTaskTable.DueDate" placeholder="Due Date" class="form-control" style="width:500px !important" />
                <span asp-validation-for="@Model.vmNoteTable.NoteTitle" class="text-danger"></span>
            </div>

            <div class="form-group" style="padding:5px 0 ; margin-bottom:20px; margin-top:10px">
                <textarea asp-for="@Model.vmNoteTable.Details" style="height:100px;width:500px" placeholder="Short Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.vmNoteTable.Details" class="text-danger"></span>
            </div>
    </div>
    <div class="w3-container" style="margin:20px;height:325px;width:100px;float:left ">
            <div class="form-group" style="padding:5px 0;margin-bottom:0px; margin-top:250px"><input type="submit" class="btn btn-sm btn-primary btn-signin" style="margin-left:20px; float:right" value="Add" /></div>
    </div>
}
</div>