@model ICollection<RegistrationMVCCore.Model.PatientDetailsViewModel>
<div class="w3-container">
    <h2>Patient Details</h2>
</div>

<div class="w3-cell-row">
    <div class="w3-container w3-blue w3-cell w3-cell-top" style="border-right:2px solid white; ">
        Assigned To
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        PPS No
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-bottom" style="border-right:2px solid white; ">
        Student Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-top" style="border-right:2px solid white; ">
        Address Line1
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        City
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        County
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-bottom" style="border-right:2px solid white; ">
        Guardian Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Phone
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-bottom" style="border-right:2px solid white; ">
        School Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-bottom" style="border-right:2px solid white; ">
        Open Date
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-top" style="border-right:2px solid white; ">
        Close Date
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Patient Notes
    </div>
</div>

@*<div class="container-fluid" >*@
<div class="w3-cell-row">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="w3-container  w3-cell w3-cell-middle" style="width:100px">
                @item.vmUserAcc.FirstName
            </div>
            <div class="w3-container  w3-cell w3-cell-middle" style="width:75px">
                @item.vmPatientTable.PPS_No
            </div>
            <div class="w3-container  w3-cell w3-cell-middle" style="width:115px">
                @item.vmPatientTable.Name
            </div>
            <div class="w3-container  w3-cell w3-cell-middle" style="width:115px">
                @item.vmPatientTable.AddressLineOne
            </div>
            <div class="w3-container w3-cell w3-cell-middle" style="width:63px">
                @item.vmPatientTable.City
            </div>
            <div class="w3-container w3-cell w3-cell-middle" style="width:73px">
                @item.vmPatientTable.County
            </div>

            <div class="w3-container w3-cell w3-cell-middle" style="width:113px">
                @item.vmGuardian.Name
            </div>
            <div class="w3-container w3-cell w3-cell-middle" style="width:43px">
                @item.vmGuardian.PhoneNo
            </div>
            <div class="w3-container  w3-cell w3-cell-middle" style="width:103px">
                @item.vmSchools.SchoolName
            </div>
            <div class="w3-container w3-cell w3-cell-middle" style="width:63px">
                @item.vmPatientTable.OpenDate.ToString("dd/MM/yyyy")
            </div>
            <div class="w3-container  w3-cell w3-cell-middle" style="width:63px">
                @item.vmPatientTable.CloseDate.ToString()
            </div>
            <div class="w3-container  w3-cell w3-cell-middle">
                <span onclick="showPatient('@item.vmPatientTable.PPS_No')"><i style="margin-left:10px" class="glyphicon glyphicon-info-sign"></i></span>
            </div>
        }
    }
    else
    {
        <p>No records found.</p>
    }
</div>@*Row*@

<div id="Detail"></div>

@*</div>*@@*Container*@

@section scripts
{
    <script>
        function showPatient(patientId) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("PatientNotes")',
                data: { id: patientId },
                success: function (data) {
                    $('#Detail').hide();
                    $('#Detail1').hide();

                    $('#Detail').html(data);
                    $('#Detail').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail').html('<h3>Error in retrieval</h3>');
                }
            });
        }
        function showPatientDetails(patientId, dateId) {

            $.ajax({
                type: "GET",
                url: '@Url.Action("PatientNotesDetails")',
                data: { pd: patientId, dt: dateId },
                success: function (data) {
                    $('#Detail').hde();

                    $('#Detail1').html(data);
                    $('#Detail1').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail1').fadeIn("slow");
                    alert("Error");
                    $('#Detail1').html('<h3>Error in retrieval showPatientDetails</h3>');
                }
            });
        }
        @*function showPatientDetails2(patientId, dateId) {
            alert("Show actors2 ");
            $.ajax({
                type: "GET",
                url: '@Url.Action("PatientNotesDetails")',
                data: { pd: patientId, dt: dateId },
                success: function (data) {
                    $('#Detail').hde();

                    $('#Detail1').html(data);
                    $('#Detail1').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail1').fadeIn("slow");
                    alert("Error");
                    $('#Detail1').html('<h3>Error in retrieval showActorsDetails</h3>');
                }
            });
        }*@
    </script>
}