@model RegistrationMVCCore.Model.Patient_Table

@{
    ViewData["Titel"] = "Create";
}

<h2>Add new patient records.</h2>
<div class="row">
    <div class="col-md-4" style="background-color:#F7F7F7; border-radius:6px; margin-left:380px; padding: 20px 25px 30px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @if (ViewBag.Message != null)
                {
                    <div class="form-control">
                        <div class="col-md-12" style="color:blue">
                            @ViewBag.Message<i class="glyphicon glyphicon-ok" style="color:lime"></i>
                        </div>
                    </div>
                }
                <h4 style="text-align:center">Student Details.</h4>
                <hr />
                

                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input asp-for="PPS_No" placeholder="PPS Number" class="form-control" />
                            <span asp-validation-for="PPS_No" class="text-danger"></span>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input asp-for="Name" placeholder="Full Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input asp-for="AddressLineOne" placeholder="Address Line 1" class="form-control" />
                        <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input asp-for="City" placeholder="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input asp-for="County" placeholder="County" class="form-control" />
                        <span asp-validation-for="County" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.DropDownListFor(model => model.SchoolID, ViewBag.schoolList as SelectList, "--School Name--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input asp-for="OpenDate" placeholder="Open Date" class="form-control" />
                        <span asp-validation-for="OpenDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Create" />
                    </div>
                </div>
            </div>

        }@*end Using*@
                </div>
            </div>
<div>
    <hr />
    @Html.ActionLink("Back to Tasks", "Welcome", new { id = 2 }, new { @class = "btn btn-info", @style = "margin-top:10px" })
</div>

@*<div>
        @Html.ActionLink("Back to List", "Welcome")
    </div>*@
