@model ICollection<RegistrationMVCCore.Model.PatientDetailsViewModel>

<div class="container-fluid">
    
    <h2>Patient Details</h2>
   
    <div class="row" style="background-color:#605CA8; color:#F7FFFF; margin-bottom:7px">
        <div class="col-md-1" style="border-right:2px solid white; ">Assigned To</div>
        <div class="col-md-1" style="border-right:2px solid white; ">PPS Number</div>
        <div class="col-md-1" style="border-right:2px solid white; ">Student Name</div>        
        <div class="col-md-1"style="border-right:2px solid white; ">Address Line1</div>
        <div class="col-md-1"style="border-right:2px solid white; "><br />&nbsp;&nbsp;&nbsp;City</div>
        <div class="col-md-1"style="border-right:2px solid white; "><br />&nbsp;&nbsp;&nbsp;County</div>
        <div class="col-md-1"style="border-right:2px solid white; ">Guardian Name</div>
        @*<div class="col-md-1"><i class="glyphicon glyphicon-phone ">Phone</i></div>*@
        <div class="col-md-1"style="border-right:2px solid white; ">Phone<i class="glyphicon glyphicon-phone-alt ">&nbsp;&nbsp;</i></div>
        <div class="col-md-1"style="border-right:2px solid white; ">School Name</div>   
        <div class="col-md-1" style="border-right:2px solid white; ">Open Date</div>  
        <div class="col-md-1" style="border-right:2px solid white; ">Close Date</div>  
        <div class="col-md-1" style="border-right:2px solid white; ">Patient Notes</div>    
    </div>
    <div class="row" style="padding-bottom:20px">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="col-md-1">@item.vmUserAcc.FirstName</div>
            <div class="col-md-1">@item.vmPatientTable.PPS_No</div>
            <div class="col-md-1">@item.vmPatientTable.Name</div>            
            <div class="col-md-1">@item.vmPatientTable.AddressLineOne</div>
            <div class="col-md-1">@item.vmPatientTable.City</div>
            <div class="col-md-1">@item.vmPatientTable.County</div>
            <div class="col-md-1">@item.vmGuardian.Name</div>
            <div class="col-md-1">@item.vmGuardian.PhoneNo</div>
            <div class="col-md-1">@item.vmSchools.SchoolName</div>
            <div class="col-md-1">@item.vmPatientTable.OpenDate.ToString("dd/MM/yyyy")</div>
            <div class="col-md-1">@item.vmPatientTable.CloseDate.ToString()</div>
            @*<div class="col-md-1">@item.vmNoteTable.Details</div>*@
            @*@Html.ActionLink("Notes", "PatientNotes", new { id = item.vmPatientTable.PPS_No }, new { @class = "btn btn-info btn-xs" })*@
            <span class="btn btn-xs btn-warning"
                  onclick="showPatient('@item.vmPatientTable.PPS_No')">Show Notes</span>

            @*<span class="btn btn-xs btn-warning"
                    onclick="showActorsDetails('@item.vmPatientTable.PPS_No','@item.vmPatientTable.OpenDate')">Details</span>*@
        }
    }
    else
    {
        <p>No records found.</p>
    }
    </div>
    @*<div id="Detail" style="background-color:red">@Html.Partial("_PatientNotes"@*, Model.UserAccount)</div>*@
<div id="Detail" ></div>
    <div>
       
        @*<hr />*@
        @*@Html.ActionLink("Back to Tasks", "Welcome", new { id = 2 }, new { @class = "btn btn-info", @style = "margin-top:10px" })*@
    </div>
</div>

@section scripts
{
    <script>
        function showPatient(patientId) {
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("PatientNotes")',
                data: { id: patientId },
                success: function (data) {
                    $('#Detail').hide();
                    $('#Detail1').hide();

                    $('#Detail').html(data);
                    $('#Detail').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail').html('<h3>Error in retrieval</h3>');
                }
            });
        }
        function showPatientDetails(patientId, dateId) {
           
            $.ajax({
                type: "GET",
                url: '@Url.Action("PatientNotesDetails")',
                data: { pd: patientId, dt: dateId },
                success: function (data) {
                    $('#Detail').hde();
                   
                    $('#Detail1').html(data);
                    $('#Detail1').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail1').fadeIn("slow");
                    alert("Error");
                    $('#Detail1').html('<h3>Error in retrieval showPatientDetails</h3>');
                }
            });
        }
        function showPatientDetails2(patientId, dateId) {
            alert("Show actors2 ");
            $.ajax({
                type: "GET",
                url: '@Url.Action("PatientNotesDetails")',
                data: { pd: patientId, dt: dateId },
                success: function (data) {
                    $('#Detail').hde();

                    $('#Detail1').html(data);
                    $('#Detail1').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail1').fadeIn("slow");
                    alert("Error");
                    $('#Detail1').html('<h3>Error in retrieval showActorsDetails</h3>');
                }
            });
        }
    </script>
}