@model RegistrationMVCCore.Model.UserAccount
@{ 
    ViewData["Titel"] = "Register";
}
@*<h2>Register</h2>*@
@if (ViewBag.Message != null)
            {
    <div class="form-control">
        <div class="col-md-12" style="color:blue">
            @ViewBag.Message<i class="glyphicon glyphicon-ok" style="color:lime"></i>
        </div>
    </div>
}
<div class="w3-card-4" style="width:850px;background-color:#FFFFFF; height:500px; margin-left:100px; margin-top:50px">
    <header class="w3-container w3-blue">
        <h4>Add a new therapist &nbsp;<i class="glyphicon glyphicon-cog"></i></h4>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="w3-container" style="margin:20px; height:225px;width:350px; float:left">       
            <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:20px">           
                <input asp-for="@Model.FirstName" placeholder="First Name" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:5px 0 ; margin-bottom:20px; margin-top:10px">           
                <input asp-for="@Model.Email" placeholder="Email Address" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>           
            </div>
            <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:20px">           
                <input asp-for="@Model.Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>           
            </div>           
        <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:53px">
            @Html.ActionLink("Cancel", "Welcome", new { id = 2 }, new { @class = "btn btn-lg btn-primary btn-block btn-signin", @style = "margin-top:0px" })
        </div>
        
    </div>
    <div class="w3-container" style="margin:20px;height:225px;width:350px;float:left ">
        
         <div class="form-group" style="padding:5px 0;margin-bottom:20px; margin-top:20px">            
            <input asp-for="@Model.LastName" placeholder="Last Name" class="form-control" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>            
        </div>
        <div class="form-group" style="padding:5px 0;margin-bottom:20px; margin-top:10px ">           
            <input asp-for="@Model.UserName" placeholder="Username" class="form-control" />
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>           
        </div>
        <div class="form-group" style="padding:5px 0;margin-bottom:20px; margin-top:20px">          
            <input asp-for="@Model.CofirmPassword" placeholder="Confirm Password" class="form-control" />
            <span asp-validation-for="@Model.CofirmPassword" class="text-danger"></span>           
        </div>
        <div class="form-group" style="padding:5px 0;margin-bottom:20px; margin-top:20px">
            @*<input asp-for="@Model.CofirmPassword" placeholder="Confirm Password" class="form-control" />*@
            <input asp-for="@Model.IsAdmin" type="radio" value="True" /> Is Admin
            <span asp-validation-for="@Model.CofirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding:5px 0; margin-bottom:20px; margin-top:53px">           
            <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Register" />           
            </div>
            
       
    </div>
}
</div>
@*<div class="row">
<div class="col-md-4" style="background-color:#F7F7F7; border-radius:6px; margin-left:380px; padding: 20px 25px 30px;">
    <div class="form-horizontal">
        <form asp-controller="Home" asp-action="Register" method="post">
            @if (ViewBag.Message != null)
            {
                <div class="form-control">
                    <div class="col-md-12" style="color:blue">
                        @ViewBag.Message<i class="glyphicon glyphicon-ok" style="color:lime"></i>
                    </div>
                </div>
            }
            <h4 style="text-align:center">Add a new therapist.</h4>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input asp-for="LastName" placeholder="Last Name" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input asp-for="Email" placeholder="Email Address" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input asp-for="UserName" placeholder="Username" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input asp-for="Password" placeholder="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input asp-for="CofirmPassword" placeholder="Confirm Password" class="form-control" />
                    <span asp-validation-for="CofirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Register" />
                </div>
            </div>
        </form>
    </div>
  </div>
</div>*@
