@model ICollection<RegistrationMVCCore.Model.PatientDetailsViewModel>

<div class="w3-cell-row" style="height:35px">
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Social Security No.
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Patient Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Address Line 1
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Guardian Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        School Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Action
    </div>
</div>
<div class="panel-body" style="height:383px">
    <div class="right-inner-addon" style="width:569px">
        @if (ViewBag.Message != null)
        {
            <div class="form-control">
                <div class="col-md-12" style="color:blue">
                    @ViewBag.Message<i class="glyphicon glyphicon-ok" style="color:lime"></i>
                </div>
            </div>
        }
        @if (Model.Any())
        {
            <table class="table table-condensed table-hover" style="width:1100px">
                @foreach (var item in Model)
                {
                    <tr style="width:895px !important; background-color:lime">
                        <td style="width:195px !important; background-color:lightcoral">@item.vmPatientTable.Social_Security_No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:195px !important">@item.vmPatientTable.Name&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:185px !important; background-color:lightcoral">@item.vmPatientTable.AddressLineOne&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:195px !important">@item.vmGuardian.Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:185px !important; background-color:lightcoral">@item.vmPatientTable.AddressLineOne&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:195px !important">@item.vmGuardian.Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:195px !important; background-color:lightcoral">@Html.ActionLink("Reassign Patient", "Therapist_Patient_Details", new { id = item.vmUserAcc.UserID }, new { @class = "btn btn-info btn-xs" })</td>
                    </tr>
                }
            </table>
        }
        else
        {
           <p>No records found.</p>
        }
    </div>
</div>
