@model ICollection<RegistrationMVCCore.Model.PatientDetailsViewModel>
<div class="w3-container">
    <h2 class="glyphicon glyphicon-user" style="color:#2196F3; margin-bottom:15px"><span>&nbsp;All Patients</span></h2>
</div>
<div class="w3-cell-row" style="height:50px">
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Assigned To
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Social Security
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Student Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Address Line1
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        City
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        County
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Guardian Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Phone
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        School Name
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        Open Date
    </div>
    <div class="w3-container w3-blue w3-cell w3-cell-middle" style="border-right:2px solid white; ">
        View
    </div>
</div>
<div class="w3-container  w3-cell w3-cell-middle" style="background-color:white">  

</div>
<div class="panel-body" style="height:398px">
    <div class="right-inner-addon" style="width:105px;">
        @if (Model.Any())
        {
            <table class="table table-condensed table-hover table-striped" style="width:1122px">
                @foreach (var item in Model)
                {
                    <tr style="height:50px !important">
                        <td style="width:100px !important;">@item.vmUserAcc.FirstName</td>
                        <td style="width:150px !important;text-align:center">@item.vmPatientTable.Social_Security_No</td>
                        <td style="width:130px !important;">@item.vmPatientTable.Name</td>
                        <td style="width:130px !important">@item.vmPatientTable.AddressLineOne</td>
                        <td style="width:70px !important;text-align:center">@item.vmPatientTable.City</td>
                        <td style="width:70px !important;text-align:center">@item.vmPatientTable.County</td>
                        <td style="width:150px !important;text-align:center">@item.vmGuardian.Name</td>
                        <td style="width:80px !important;text-align:center">@item.vmGuardian.PhoneNo</td>
                        <td style="width:120px !important;text-align:center">@item.vmSchools.SchoolName</td>
                        <td style="width:110px !important;text-align:center">@item.vmPatientTable.OpenDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.vmPatientTable.CloseDate.ToString()</td>
                        <td><div class="w3-container  w3-cell w3-cell-middle" style="color:#2196F3">
    <span onclick="showPatient('@item.vmPatientTable.PPS_No')"><i style="margin-left:10px;color:#2196F3" class="glyphicon glyphicon-eye-open"></i></span>
</div></td>

                    </tr>
                }
            </table>
        }
        else
        {
            <p>No records found.</p>
        }
    </div>
</div>

<div id="Detail2"></div>
<div id="Detail3"></div>
<div id="Detail"></div>

@*</div>*@@*Container*@

@section scripts
{
    <script>
                                    function showPatient(patientId) {
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("Details")',
                                            data: { id: patientId },
                                            success: function (data) {
                                                //alert("Show actors2 " + patientId);
                                                window.location = '/Home/Details/' + patientId;
                                                //$('#Detail').hide();
                                                //$('#Detail2').hide();
                                                //$('#Detail1').hide();
                                                //$('#Detail3').hide();
                                                //$('#Detail').html(data);
                                                //$('#Detail').fadeIn("slow");
                                            },
                                            error: function (data) {
                                                $('#Detail').html('<h3>Error in retrieval</h3>');
                                            }
                                        });
                                    }
                                    @*function showPatientDetails(patientId, dateId) {

                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("PatientNotesDetails")',
                                            data: { pd: patientId, dt: dateId },
                                            success: function (data) {
                                                $('#Detail').hde();

                                                $('#Detail1').html(data);
                                                $('#Detail1').fadeIn("slow");
                                            },
                                            error: function (data) {
                                                $('#Detail1').fadeIn("slow");
                                                alert("Error");
                                                $('#Detail1').html('<h3>Error in retrieval of Details</h3>');
                                            }
                                        });
                                    }*@
                                    @*function showPatientDetails2(patientId) {
                                        //alert("Show actors2 " + patientId);
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("AddNote")',
                                            data: { id: patientId },
                                            success: function (data) {
                                                $('#Detail').hide();
                                                $('#Detail2').hide();
                                                //alert("Show actors2 ");
                                                $('#Detail2').html(data);
                                                $('#Detail2').fadeIn("slow");
                                            },
                                            error: function (data) {
                                                alert("Show actors2 error ");
                                                $('#Detail2').fadeIn("slow");
                                                alert("Error");
                                                $('#Detail2').html('<h3>Error in retrieval of Details (Add note)</h3>');
                                            }
                                        });
                                    }*@
                                    @*function showPatientDetails3(patientId) {
                                        //alert("Show actors2 " + patientId);
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("Welcome")',
                                            data: { id: patientId },
                                            success: function (data) {
                                                window.location = '/Home/Welcome';
                                                //$('#Detail').hide();
                                                //$('#Detail2').hide();
                                                //alert("showPatientDetails3 ");
                                                //$('#Detail2').html(data);
                                                //$('#Detail2').fadeIn("slow");
                                            },
                                            error: function (data) {
                                                alert("Show actors2 error ");
                                                $('#Detail2').fadeIn("slow");
                                                alert("Error");
                                                $('#Detail2').html('<h3>Error in retrieval of Details (Welcome)</h3>');
                                            }
                                        });
                                    }*@
                                    @*function showPatientDetails4(patientId) {
                                        //alert("Patient ID " + patientId);
                                        $.ajax({
                                            type: "GET",
                                            url: '@Url.Action("ReassignPatient")',
                                            data: { id: patientId },
                                            success: function (data) {
                                                //window.location = 'ReassignPatient';
                                                //alert("Show student 2 ");
                                                $('#Detail').hide();
                                                $('#Detail2').hide();
                                                $('#Detail1').hide();
                                                //alert("Show student 1 ");
                                                $('#Detail3').html(data);
                                                $('#Detail3').fadeIn("slow");
                                            },
                                            error: function (data) {
                                                alert("Error ");
                                                $('#Detail2').fadeIn("slow");
                                                //alert("Error");
                                                $('#Detail2').html('<h3>Error in retrieval of Details(Reassing Patient) </h3>');
                                            }
                                        });
                                    }*@
    </script>
}
