@model ICollection<RegistrationMVCCore.Model.MyViewModel>

<div class="container" style="background-color:#F4F4F5;width:980px">
    <div style="height:50px"></div>

    @*@if (@ViewBag.UserName == "DomBrennan")
    {
        <h3><em>Username</em>: @ViewBag.UserName <Small>(admin)</Small> </h3>
    }
    else
    {
        <h2>Username: @ViewBag.UserName </h2>
    }*@

    <section style="width:900px; margin-left:0px">
        <section style="height:50px;width:590px;float:right;margin-left:30px ">
            <ul class="nav nav-tabs" style="background-color:white">
                <li class="active test"><a data-toggle="tab" href="#home">Todays Tasks</a></li>
                <li class="test1"><a data-toggle="tab" href="#menu1">All Tasks</a></li>
                @*<li class="test2"><a data-toggle="tab" href="#menu2">All Patients</a></li>*@
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="box" style="width:590px;">
                        <div class="w3-card-4" style="background-color:#FFFFFF">
                            @Html.Partial("_TodaysTasks", Model)
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">                    
                    <div class="box" style="width:590px; ">
                        <div class="w3-card-4" style="background-color:#FFFFFF">
                           @Html.Partial("_TomorrowsTasks", Model) 
                        </div>
                    </div>
                </div>
                @*<div id="menu2" class="tab-pane fade">
                    <div class="box" style="width:590px; ">
                        <div class="w3-card-4" style="background-color:#FFFFFF">
                            @Html.Partial("_TomorrowsTasks", Model)
                        </div>
                    </div>
                </div>*@
            </div>
        </section>

    <aside>
            @*****************Client Search*********************************************@
            <div class="w3-card-4" style="width:300px">
                <div class="panel panel-default " style="border-radius:0px">
                    <div class="panel-heading" style="background-color:#2196F3;border-top-left-radius: 0px;
  border-top-right-radius: 0px; color:#F7FFFF;font-size:20px">Client Search&nbsp;<i class="glyphicon glyphicon-search"></i></div>
                    <div class="w3-container" style="margin-top:10px; height:55px">
                        @using (@Html.BeginForm("Welcome", "Home", FormMethod.Get))
                        {
                            @Html.TextBox("search", "", new { placeholder = "Search by PPS No.", style = "border-radius:5px; float:left; width:170px; margin-right:3px", @class = "form-control" })<input class="w3-btn w3-light-blue w3-border"  type="submit" style="border-radius:5px;color:#FFFFFF !important" value="search" />
                        }
                    </div>
                </div>
            </div>

            @*****************Maintain Accounts****************************************@
            <div class="w3-card-4" style="width:300px;background-color:#FFFFFF">
                <header class="w3-container w3-blue">
                    <h4>Maintain Accounts &nbsp;<i class="glyphicon glyphicon-cog"></i></h4>
                </header>
                <div class="w3-container" style="margin:20px; height:100px; ">
                    <ul style="list-style:none">
                        <li style="padding:5px 0 "><a asp-area="" asp-controller="Home" asp-action="ViewAllPatients"><i class="glyphicon glyphicon-user"></i>&nbsp;View All Patient</a></li>
                        <li style="padding:5px 0 "><a asp-area="" asp-controller="Home" asp-action="CreateStudentRecord"><i class="glyphicon glyphicon-user"></i>&nbsp;Add Patient</a></li>
                        <li style="padding:5px 0"><a asp-area="" asp-controller="Home" asp-action="DeletePatient"><i class="glyphicon glyphicon-remove"></i>&nbsp;Remove Patient</a></li> 
                        <li style="padding:5px 0"><a asp-area="" asp-controller="Home" asp-action="Logout"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout</a></li>                      
                    </ul>
                </div>
            </div>

            @*****************Admin****************************************************@
            <div class="w3-card-4" style="width:300px;background-color:#FFFFFF">
                <header class="w3-container w3-blue">
                    <h4>Admin &nbsp;<i class="glyphicon glyphicon-cog"></i></h4>
                </header>
                <div class="w3-container" style="margin:20px; height:100px">
                    <ul style="list-style:none">
                        <li style="padding:5px 0">
                            <a asp-area="" asp-controller="Home" asp-action="Register"><i class="glyphicon glyphicon-user"></i>&nbsp;Register a new OT</a>
                        </li>
                        <li style="padding:5px 0">
                            <a asp-area="" asp-controller="Home" asp-action="ReassignPatient"><i class="glyphicon glyphicon-remove"></i>&nbsp;Reassign Patient</a>
                        </li>
                        <li style="padding:5px 0">
                            <a asp-area="" asp-controller="Home" asp-action="Register"><i class="glyphicon glyphicon-remove"></i>&nbsp;Remove OT</a>
                        </li>
                    </ul>
                </div>
            </div>
    </aside>
 </section>
</div>

@section scripts
{
    @*<script>
        function showActors(movieId) {
            // When Leader name clicked, invoke Controler action method to return partial view and ajax it into place
            $.ajax({
                type: "GET",
                url: '@Url.Action("ActorsById")',
                data: { id: movieId },
                success: function (data) {
                    $('#Detail').hide();
                    $('#EditActor').hide();
                    $('#AddActor').hide();
                    $('#Detail').html(data);
                    $('#Detail').fadeIn("slow");
                    $('#AddActor').find('input[name="actorId"]').val(""); // set campId for the Create Child form
                    $('#AddActor').find('input[name="actorName"]').val("");
                    $('#AddActor').fadeIn("slow");
                },
                error: function (data) {
                    $('#Detail').html('<h3>Error in retrieval</h3>');
                }
            });
        }


    </script>*@

}